body {
    height: 100%;
    background-image: url("https://img.freepik.com/free-photo/flat-lay-health-still-life-arrangement-with-copy-space_23-2148854064.jpg?w=1060&t=st=1683219830~exp=1683220430~hmac=64ed87417598abb356b6a3e0a439871eb7b89725d1888f5b3b001b13ea7fbfa0");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

